.title{
  text-align: center;
}

.content{
  width: 800px;
  height: 500px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
}

.input-box{
  margin-top: 50px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;

}

.temperature-card{
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  padding: 30px;
  color: #000;
  background-color: transparent rgb(144, 130, 159);

}