.title{
  text-align: center;
}

.content{
  /* width: 800px; */
  margin:0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

.input-box{
  margin-top: 30px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px;

}

.temperature-card{
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  width: 180px;
  padding: 15px;
  color: #000;
  background-color:  rgb(255, 255, 255, 0.3);

}

.font{
  font-size: 100px;
}

.text{
  text-align: center;
  font-size: 10px;
}